* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'arial' ;
    max-height: min-content;    
}

/* Here start the header */
.header{
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    background-color: #707070;
    background-image: -webkit-linear-gradient(83.8deg, #fff 29.5%, #707070 30%);
    opacity: 1; 
    letter-spacing: 0px;
}

.title {
    color: #ffffff;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;   
}

.title2 {
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
}

.subtitle {
    color: #ffffff;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
}

.nav {
    display: flex;
    margin-top: 60px ;
    opacity: 1;
    gap: 30px;   
}

.navBar {
    background-color: #ffffff;
    list-style: none;
    border-radius: 4px;
    padding: 10px 35px;
    color: #888888;
    box-shadow: 0px 1px 6px #00000029 ;
}

/* Here start the section one */

.container {
    display: flex;
    flex-direction: column;
    width:  1100px;
    margin: 40px auto; 
    color: #888888;  
}

.section_one {
    display: flex;
    flex-direction: row;
    
}

.section_one_title {
    text-align: left;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.section_one_p {
    font-size: 16px;
    text-align: left;
    width: 550px;
}

.form {
    margin: 0 auto;
       
}

.content_form {
    display: flex;
    flex-direction: column;
}

.content_form input {
    width: 350px;
    padding: 5px;
    margin-bottom: 25px ;
}

.button {
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    font-size: 16px;
}

.label {
    font-size: 15px;
    margin-bottom: 7px;
}

.button:hover {
    background-color: #afffa8;
    transition-duration: 1s;
}

.radio_check {
    display: flex;
    flex-direction: row;
    width: 210px;
    margin-bottom: 10px;
    font-size: 15px;   
}

/* Here start the section two */

.information {
    margin: 80px auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    
}


.information::before {
    content: '';  
    display: inline-block;
    height: 1px;
    width: 380px;
    background-color: #808080;
    margin-right: 25px;

}

.information::after {
    content: '';  
    display: inline-block;
    height: 1px;
    width: 380px;
    background-color: #888888;
    margin-left: 25px;
}

.section_Two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    gap: 35px;
}

.productBox {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 8px;
    gap: 7px 0;         
}

.name {
   font-size: 16px;
   font-weight: 400;
   padding: 10px 0;
   color: black;     
}

.description {
    font-size: 14px;
    margin: 0 ;
    color: black;
}

.old_price {
    font-size: 14px;
    text-decoration: line-through;    
}

.price {
    font-size: 17px;
    font-weight: 700;
    color: black;
    
}

.productBox span {
    color: black;    
}

.productBox button {
    background-color: #ffffff;
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.productBox button:hover {  
    background-color: #afffa8;
    transition-duration: 1s;
}









